<div class="book">
	<span class="title"><%= link_to book.title, store_book_path(book) %></span><br />
	<span class="author"><%= book.author %></span>
<img src="images/item1.jpg" alt="" width="202" height="173" /><br />
<span class="price"><%= book.price %></span>
</div>