<%= link_to book.title, store_book_path(book) %><br />
<img src="images/item1.jpg" alt="" width="202" height="173" /><br />
<span><%= book.price %></span><a href="#" class="buy">Buy this Product</a>