*{
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
	color: #000;
}

a:hover{
	text-decoration:underline;
}

body{
	height:100%;
	background-color:#1d1d1d;
	position:relative;
	margin-bottom:50px;
	font-family:"Calibri";
}
html > body{
	min-height:100%;
	height:auto;
}

h1, h2, h3{
	color: #595959;
	font-family: Times;
	font-style: italic;
}

#main a{
	font-weight:bold;
}

#menu{
	text-align: center;
	background-color: #d3d3d3;
	padding:4px;
}

#menu li{
	display: inline;
	padding: 20px;
}

#header, #wrapper{
	width:999px;
	margin:0 auto;
	background-color: #bababa;
}

#books{
	float:left;
	padding:22px 0 0 0;
	width:770px;
	background-color: #FFF;
}

#sidebar{
	width:140px;
	float:left;
	margin:40px 0px 0px;
	padding:13px 32px 0 23px;

}

#sidebar li{
	padding:4px;
}

#sidebar li:nth-child(2n+2){
	background-color: #d3d3d3;
}


#list{
	list-style: none;
}

#content_inside{
	width:999px;
	margin:0 auto;
	overflow:hidden;
}

#books{
	padding:10px;
	padding-bottom: 300px;
	width: 90%;
	margin: 0 auto;
}

#books p{
	margin-top: 10px;
	margin-bottom: 20px;
}

.book{
	padding:20px;
	margin:3px;
	border: 1px solid #CDCDCD;
	width:190px;
	height:240px;
	float:left;
	display:inline;
}

#main{
	padding-bottom:30px;
	overflow:hidden;
}

.search{
	text-align: right;
	padding:10px;
}

.title{

}

.book img{
	margin-left:30px;
	padding: 3px;
	width:125px;
	height:175px;
}

.author{
	font-style: italic;
}

.price{
	float:right;
}

.description {
    margin-right: 20px;
    text-align: right;
    margin-left: 140px;
}
.desc_text {
    text-align:right;
    padding:10px;
}

.isbn{
	color: #6d6d6d;
	margin:0;
}

#book_page img{
	float:left;
	max-height: 300px;
	max-width: 200px;
	margin-top: 120px;
	padding:15px;
}

fieldset {
  margin-bottom: 10px;
  padding:10px;
  width:300px;
}
legend {
  padding: 0 2px;
  font-weight: bold;
}
label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  width: 120px;
}